header { color:rgb(255, 255, 255)} 
 Header{background-color: blue;}
 header {text-align: center;}
 ul{word-spacing: 20px;}
  
 Footer{color: white;}
 Footer{background-color: blue;}
 footer {text-align: center;}
 footer{margin-top: 50px;}